<!DOCTYPE html>
  <html lang="en-us">
    <head>
      <%- include ("../partials/header.ejs") %>
      <title>Company's Data</title>
      <script type="text/javascript" src="display.js"></script>
      <script type="text/javascript" src="scraper2.js"></script>
    
      <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
      <link rel="stylesheet" href="login.css" />
    </head>

    <body>
    <div class="container">
    <form action="/company-name">
      <% results.forEach(function(r) { %>
      <h2><%= r.name %></h2>
      <% }); %>
    </form>

    <table id="displayData">
      <tr>
        <th>SKU</th>
        <th>Product's Name</th>
        <th>Sales Price</th>
        <th>Url</th>
        <th>Last Price Updated</th>
      </tr>
      <form id="display-data" action="/display-data" method="POST">
        <% results.forEach(function(r) { %>
        <tr>
            <td><%=r.sku%></td>
            <td><%=r.name%></td>
            <td><%=r.price%></td>
            <td><%=r.url%></td>
            <td><%=r.lpmod%></td>
          </form>
        </tr>
        <% }); %>
    </form>

    </div>

    </body>
</html>
