<!DOCTYPE html>
  <html lang="en-us">
    <head>
      <%- include ("../partials/header.ejs") %>
      <title><%=name%> Data</title>
      <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
      <link rel="stylesheet" href="/stylesheets/login.css" />
      <link rel="stylesheet" href="/stylesheets/urlPage.css" />
    </head>

    <body>

    <div id="main">
      <div id="button">
        <form class="logoutform" action="/home">
          <button id="url">URL</button>
        </form>

        <form class="logoutform" action="/display">
          <button id="scrapedData">Scraped Data</button>
        </form>

        <form class="logoutform" action="/logout?_method=DELETE" method="POST">
          <button id="logout" method="POST" type="submit">Log Out</button>
        </form>
      </div>

    <div class="data-container">
      <form action="/company-name" method="POST">
        <h1><%=name%></h1>
      </form>

      <div class="flex-item">
        <div class='filter'>
          <form action="skuFilter" method="post">
            <input name="Sku_name" id="Sku_name" type="text" placeholder="SKU Number" onchange="form.submit()">
          </form>        
        </div>

        <div class="dropdown">
          <input class="dropbtn" type="button" value="Sort By:">
            <div class="dropdown-content">
              <form action="/all" method="post">
                <input name="default" id="default" type="button" value="All" onclick="form.submit()">
              </form>
              <form action="/low" method="post">
                <input name="low" id="low" type="button" value="Low" onclick="form.submit()">
              </form>
              <form action="/high" method="post">
                <input name="high" id="high" type="button" value="High" onclick="form.submit()">
              </form>
            </div>
        </form>
        </div> 
            
        <div>
          <form action="/csv-download" method="post">
            <input name="csv-download" id="csv-download" type="submit" value="Download" onclick="form.submit()">
          </form>        
        </div>
      </div>

      <table id="displayData">
        <tr>
          <th>No.</th>
          <th>Company's name</th>
          <th>SKU</th>
          <th>Product's Name</th>
          <th>Sales Price</th>
          <th>Url</th>
          <th>Last Price Updated</th>
        </tr>
        <form id="display-data" action="/display-data" method="POST">
          <% results.forEach(function(r) { %>
          <tr>
              <td><%=r.id%></td>
              <td><%=r.company_name%></td>
              <td><%=r.sku%></td>
              <td><%=r.name%></td>
              <td><%=r.price%></td>
              <td class="product-url"><%=r.url%></td>
              <td><%=r.lpmod%></td>
            </form>
          </tr>
          <% }); %>
      </form>

    </div>

    </body>
</html>
